body {

  padding: 0;
  font-family: Arial, sans-serif;
}

.spacer {
  width: 100%; /* Set the width to 100% to occupy the entire line */
  height: 20px; /* Adjust the height to control the space between lines */
}

.vertical-box {
  display: flex;
  width: calc(100% - 20px); /* Take up 100% width with 20px margin on each side */
  padding:10px;
  flex-wrap: wrap;
  height: 105vh;
  box-sizing: border-box;
  justify-content: center;
  background-color: #fff;
  color: #fff;
  text-align: center;
  border-radius: 10px; /* Add border-radius */
  margin: 30px; /* Adjust margin as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  position: relative; 
}
.box-column {
  flex: 1;
  padding: 10px;
  margin-top: 60px;
  float: left;
  box-sizing: border-box;
}
.box-column-specific {
  flex: 1;
  padding: 10px;
  margin-top: 20px;
  float: left;
  box-sizing: border-box;
}

.box-row {
  display: flex;
  flex-direction: column; /* Set direction to column to stack items vertically */
  align-items: center; /* Center items horizontally within the row */
  padding: 10px; /* Adjust padding as needed */
  width: 50%;
  height: 45vh;

}
.box-row-big {
  display: flex;
  flex-direction: column; /* Set direction to column to stack items vertically */
  align-items: center; /* Center items horizontally within the row */
  padding: 10px; /* Adjust padding as needed */
  width: 50%;
  height: 50vh;

}

.vertical-box img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .box-text {
    position: absolute;
    display: flex;
    top: 10px; /* Adjust top position as needed */
    left: 50%;
    color:#0B9A8D;
    transform: translateX(-50%); /* Center the text horizontally */
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
   

  }
 
  .clear-line {
    width: 100%;
    height: 0;
    clear: both;
  }