*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
.app{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container{


  width: calc(50% - 20px); /* Adjust to your desired width and spacing */

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px; /* Add margin between chart boxes */
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  /* border: 2px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
  
}
.pieContainer{
    width: calc(33% - 20px); /* Adjust to your desired width and spacing */

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px; /* Add margin between chart boxes */
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  
}
.container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
    color:#6E6E6E;
  }
.pieContainer h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
    color:#6E6E6E;
  }
.card{
    background-color: #f7f7f7;
}
.spacer {
    width: 100%; /* Set the width to 100% to occupy the entire line */
    height: 20px; /* Adjust the height to control the space between lines */
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Filter input styling */
  div.rt-th > input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
  }
  
  /* Pagination styling */
  div.react-paginate {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .react-paginate ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .react-paginate li {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .react-paginate li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
  }
  
  .react-paginate li a:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Highlight selected page */
  .react-paginate li.react-paginate__page--selected a {
    background-color: #007bff;
    color: #fff;
  }